
#1: 编译规则
include $(BUILD_DIR)/arch_config/x86_64.config
include $(COMMON_CONFIG_DIR)/common_include.mk

#2: 链接
CLINK_FLAGS += -Wl,-T "$(PROJECT_DIR)/$(PROJECT)/$(PROJECT).ld"
CLINK_FLAGS += -Wl,--gc-sections
CLINK_FLAGS += -Wl,--cref
CLINK_FLAGS += -fdata-sections -ffunction-sections
#CLINK_FLAGS += -Wl,--print-gc-sections


#2: c文件编译
CFLAGS += -Wall
CFLAGS += -ggdb
CFLAGS += -fdata-sections -ffunction-sections


#3: 汇编文件
ASMFLAGS += -Wall
ASMFLAGS += -ggdb
ASMFLAGS += -fdata-sections -ffunction-sections

